upm/Samples~/**/*/Library
upm/Samples~/**/*/Gen
upm/Samples~/**/*/Logs
upm/Samples~/**/*/ProjectSettings
upm/Samples~/**/*/Temp
upm/Samples~/**/*/UserSettings
upm/Samples~/**/*.vsconfig
upm/Samples~/**/*.sln
upm/Samples~/**/*.csproj
node_modules
.vscode
.DS_Store
**/*/package-lock.json
ts-monorepo-test